{#
 # Paypal Confirm template
 # --------------------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}


{% extends "_layout" %}

{% block header %}

     <header class="site-header">
       <a href="#" class="site-title"><h1>Tourism Snowy Mountains - Payment Confirmation</h1></a>
     </header>
{% endblock header %}

{#% block content %}

 <h1>Payment Confirmation</h1>

        {% if result|length %}

            {% for r in result %}
                
               PaymentID: {{r.id}}

            {% endfor %}

    {% endif %}

{% endblock content%#}

    {% block weather %}
    <section class="weather-report">
      <h1><i class="fa fa-cloud"></i> Weather Report</h1>
      {{ craft.weatheroots.getAllTownsFeed()}} 
    </section>

    {% endblock weather %}
    
    {% block ads %}
    <aside class="advertising-block">
      <div class="mrec">mrec - 300 x 250</div>
      <div class="mrec">mrec - 300 x 250</div>
    </aside>
    {% endblock ads %}