{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% set centered = true %}

{% set title = "PayPal Edit Invoice Number" %} {# must have this, otherwise you will get an error #}

{% set content %}

{% set id_passed = craft.request.getSegment(3) %} <!-- Segment 3 of Url here means the id-->
{% set invoice = craft.paypaloots.getInvoiceById(id_passed) %}

 {% if invoice|length %}

    <h2>Edit Invoice Number</h2>
    
    <form method="post" action="" accept-charset="UTF-8">

        <!-- end select image to show -->
        <input type="hidden" name="action" value="paypaloots/updateInvoice" />
        <!--input type="hidden" name="redirect" value="paypaloots/index" /-->
        <input type="hidden" name="id" value="{{id_passed}}" /> <!-- pass id as hidden field here-->

            <div class="form-group one half half-padded">
                <label for="name" class="col-sm-2 control-label">Invoice ID <span class="req">*</span></label>
              
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="id" name="id" placeholder="id" value="{{invoice.id}}" style="width:250px" disabled>
                </div>
            </div>

              <div class="form-group one half half-padded">
                <label for="name" class="col-sm-2 control-label">Email <span class="req">*</span></label>
              
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="email" name="email" placeholder="email" value="{{invoice.billing_info[0].email}}" style="width:250px" disabled>
                </div>
            </div>

            <div class="form-group one half half-padded">
                  <label for="status" class="col-sm-2 control-label">Status <span class="req">*</span></label>
                  <div class="col-sm-12">
                  <input type="text" class="form-control" id="status" name="status" placeholder="status" value="{{invoice.status}}"  disabled>
                </div>
            </div>
          
             <div class="form-group one half half-padded">
                  <label for="number" class="col-sm-2 control-label">Invoice No <span class="req">*</span></label>
                  <div class="col-sm-12">
                  {% if invoice.status == 'PAID' %}
                      <input type="text" class="form-control" id="number" name="number" placeholder="number" value="{{invoice.number}}" disabled>
                  {% else %}
                      <input type="text" class="form-control" id="number" name="number" placeholder="number" value="{{invoice.number}}">
                  {% endif %}

                </div>
            </div>

        <div class="buttons">
            <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
        </div>

    </form>

{% endif %}

{% endset %}