{% extends "_layouts/cp" %}
{% set centered = true %}

{% set messages = craft.paypaloots.getAllInvoices %}
{% set title = "Paypal - Invoice List"|t %}

{% set content %}

    <p id="noingredients"{% if messages|length %} class="hidden"{% endif %}>
        {{ "No Records exist yet."|t }}
    </p>

    {% if messages|length %}

        <table id="ingredients" class="data">
            <thead>
                
                <th scope="col">{{ "ID"|t }}</th>
                <th scope="col">{{ "Invoice No"|t }}</th>
                <th scope="col">{{ "Status"|t }}</th>
                <th scope="col">{{ "Invoice Date"|t }}</th>
                <th scope="col">{{ "Due Date"|t }}</th>
                <th scope="col">{{ "Amount"|t }}</th>
                <th scope="col">{{ "Date Created"|t }}</th>
                <th class="thin"></th>
            </thead>
            <tbody>

                {% for message in messages %}
                    <tr data-id="{{ message.id }}" data-name="{{ message.fromName|t }}">

                        <td> {{ message.id }} </td>
                        <td> {{ message.number }} </td>
                        <td> {{ message.status }} </td>
                        <td> {{ message.invoice_date }} </td>
                        <td> {{ message.due_date }} </td>
                        <td> {{ message.total_amount.value }} </td>
                        <td> {{ message.metadata.created_date | date("d-m-Y", "Australia/Sydney") }} </td>
                    </tr>

                {% endfor %}
                {# pagination need to go here #}
  
            </tbody>
        </table>

    <div class="buttons">
        <a  class="btn add icon" id="oots_export">{{ "Export Records to CSV"|t }}</a>
    </div>

    {% endif %}
 {% endset %}   

{% set js %}

$("#oots_export").click(function() {

 var jsObj = {"firstName":"Silvanus", "fromSurname":"Matiku"};

 $.ajax({ 
  type: 'POST', 
  url: "{{siteUrl}}index.php/admin/paypaloots/export", 
  data: {'jsObj':jsObj},
  
  success: function(data1){
      window.location.assign('{{siteUrl}}index.php/admin/paypaloots/export');  //you have to do this inorder to be able to download file
   }
  }); 

}); 

{% endset %}
{% includeJs js %}
