{% extends "_layouts/cp" %}
{% set centered = true %}

{% set invoices = craft.paypaloots.getPaidInvoices %}
{% set title = "Paypal - Paid Invoices"|t %}

{% set content %}
    <p id="noingredients"{% if invoices|length %} class="hidden"{% endif %}>
        {{ "No Records exist yet."|t }}
    </p>

    {% if invoices|length %}

        <table id="ingredients" class="data">
            <thead>
                <th scope="col">{{ "ID"|t }}</th>
                <th scope="col">{{ "Invoice No"|t }}</th>
                <th scope="col">{{ "Status"|t }}</th>
                <th scope="col">{{ "Invoice Date"|t }}</th>
                <th scope="col">{{ "Due Date"|t }}</th>
                <th scope="col">{{ "Date Created"|t }}</th>
                <th scope="col">{{ "Billing Email"|t }}</th>
                <th scope="col">{{ "Amount(AUD)"|t }}</th>
                <th scope="col"> Action </th>
                <th class="thin"></th>
            </thead>
            <tbody>

                {% for invoice in invoices|sort %}
                 
                    <tr data-id="{{ invoice.id }}">
                        <td> {{ invoice.id }} </td>
                        <td> {{ invoice.number }} </td>
                        <td> {{ invoice.status }} </td>
                        <td> {{ invoice.invoice_date }} </td>
                        <td> {{ invoice.payment_term.due_date }} </td>
                        <td> {{ invoice.metadata.created_date | date("d-m-Y", "Australia/Sydney") }} </td>
                        <td> {{ invoice.billing_info[0].email }} </td>
                        <td> {{ invoice.total_amount.value}} </td>

                        {%set update_url = "paypaloots/edit/"~invoice.id %}  <!--Concatenate here action & id -->
                        
                        {% if invoice.status == 'PAID' %}
                            <td>
                                &nbsp;
                            </td>
                        {% else %}
                            <td>
                                <a  href="{{url(update_url) }}" type="submit" class="btn icon update_ad" data-id="{{invoice.id}}">{{ "Edit"|t }}</a>
                            </td>   
                        {% endif %}

                    </tr>

                {% endfor %}
                {# pagination need to go here #}
            </tbody>
        </table>

    <div class="buttons">
        <a  class="btn add icon" id="oots_export">{{ "Export Records to CSV"|t }}</a>
    </div>

    {% endif %}
 {% endset %}   

{% set js %}

$("#oots_export").click(function() {

 var jsObj = {"firstName":"Silvanus", "fromSurname":"Matiku"};

 $.ajax({ 
  type: 'POST', 
  url: "{{siteUrl}}index.php/admin/paypaloots/export", 
  data: {'jsObj':jsObj},
  
  success: function(data1){
      window.location.assign('{{siteUrl}}index.php/admin/paypaloots/export');  //you have to do this inorder to be able to download file
   }
  }); 

}); 

{% endset %}
{% includeJs js %}
